@{
    ViewData["Title"] = "Domovská stránka";
}

<!-- Přidání Bootstrapu -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

<div class="container-fluid p-0">
    <div class="bg-image" style="background-image: url('https://ichef.bbci.co.uk/ace/standard/2560/cpsprodpb/5760/live/13359050-27eb-11ef-8748-d589b4996777.jpg'); height: 300px;">
        <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="text-center text-white">
                <h1 class="mb-3">Na co máš chuť?</h1>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Vyhledej produkt..." aria-label="Search">
                    <button class="btn btn-warning" type="button">Vyhledat</button>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light  ">
    <div class="container">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"></li>
                <a class="nav-link" href="#">#MojeOblíbené</a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link" href="#">#OblíbenéOstatních</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Sleva</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="#">#Novinka</a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link" href="#">#Svačina</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Sladké</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Sláné</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Nápoje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">#Zmrzlina</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Produkt 1</h5>
                    <p class="card-text">Cena: 100 Kč</p>
                    <a href="#" class="btn btn-warning">Koupit</a>
                </div>
            </div>
        </div>
    </div>
</div>
