@{
    ViewData["Title"] = "Domovská stránka";
}

<!-- Přidání Bootstrapu -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

<div class="container-fluid p-0">
    <div class="bg-image" style="background-image: url('https://ichef.bbci.co.uk/ace/standard/2560/cpsprodpb/5760/live/13359050-27eb-11ef-8748-d589b4996777.jpg'); height: 300px;">
        <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="text-center text-white">
                <h1 class="mb-3">Na co máš chuť?</h1>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Vyhledej produkt..." aria-label="Search">
                    <button class="btn btn-warning" type="button">Vyhledat</button>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadCategory('moje')">#MojeOblíbené</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadCategory('ostatni')">#OblíbenéOstatních</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadCategory('sleva')">#Sleva</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadCategory('novinka')">#Novinka</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadCategory('svacina')">#Svačina</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadCategory('sladke')">#Sladké</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadCategory('slane')">#Sláné</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadCategory('napoje')">#Nápoje</a></li>
      <li class="nav-item"><a class="nav-link" href="#" onclick="loadCategory('zmrzlina')">#Zmrzlina</a></li>
    </ul>
  </div>
</nav>

<div class="container my-5">
  <div class="row" id="products">
    <!-- Produkty se načtou zde -->
  </div>
</div>

<script src="~/js/site.js"></script>
