@{
    ViewData["Title"] = "Domovská stránka";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Vítejte na naší webové stránce!</h1>
    <p>Tohle je domovská stránka.</p>
</body>
</html>
