@{
    ViewData["Title"] = "Domovská stránka";
}

<!-- Přidání Bootstrapu -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

<div class="container-fluid p-0">
    <div class="bg-image" style="background-image: url('https://ichef.bbci.co.uk/ace/standard/2560/cpsprodpb/5760/live/13359050-27eb-11ef-8748-d589b4996777.jpg'); height: 300px;">
        <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="text-center text-white">
                <h1 class="mb-3">Tvá objednávka</h1>
                
                </div>
            </div>
        </div>
    </div>
</div>
  <div class= container-sprava>
    <table class="tabulka-sprava">
    <tr>
        <th class="prod">Produkt</th>
        <th class="cena">Cena</th>
        <th class="mnoz">Množství</th>
    </tr>
    <tr>
        <td>Rohlík</td>
        <td>1 Kč</td>
        <td>5 ks.</td>
        <td>5 ks.</td>
    </tr>
    </table>
    </div>

