@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Správa produktů<h1>
    <div>
    <table>
    <tr>
        <th>Produkt</th>
        <th>Cena</th>
        <th>Množství</th>
    </tr>
    <tr>
        <td>Rohlík</td>
        <td>1 Kč</td>
        <td>5 ks.</td>
    </tr>
    </table>
    </div>
</body>
</html>